spring:
  application:
    name: chat-service-backend
  config:
    import:
      - "application-docker.yaml"
      - "application-production.yaml"
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:default}

  datasource:
    url: jdbc:mysql://localhost:3306/chats
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

server:
  port: 8181

application:
  cors:
    allowed-origins: ${ALLOW_CORS_ORIGIN:http://localhost:4200,http://192.168.1.70:4200}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
    info:
      access: read_only
  info:
    env:
      enabled: true

info:
  app:
    name: Chat Application Backend
    description: Handles one to one and group chats.
    version: 1.0.0
    profile: default
    owner: Rupesh Dulal
    website: https://www.alfarays.tech
  build:
    timestamp: "@timestamp@"
  developer:
    name: "Rupesh Dulal"
    email: "rupeshdulal672@gmail.com"
    github: "https://github.com/rupeshdulal"